<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jackluan.bigflag.domain.flag.component.dao.IAchieveConfigDao" >
  <resultMap id="BaseResultMap" type="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" >
        <result column="id" property="id" />
        <result column="achieve_way_type" property="achieveWayType" />
        <result column="threshold_calculation_type" property="thresholdCalculationType" />
        <result column="is_delete" property="isDelete" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
		    1=1
        <if test="id != null "> and id = #{id} </if>
        <if test="achieveWayType != null "> and achieve_way_type = #{achieveWayType} </if>
        <if test="thresholdCalculationType != null "> and threshold_calculation_type = #{thresholdCalculationType} </if>
        <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete} </if>
        <if test="createDate != null "> and create_date = #{createDate} </if>
        <if test="modifyDate != null "> and modify_date = #{modifyDate} </if>
        and is_deleted='N'
        <if test="start != null and limit != null "> limit #{start},#{limit} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    	id,achieve_way_type,threshold_calculation_type,is_delete,create_date,modify_date
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" >
    select
    <include refid="Base_Column_List" />
    from achieve_config
      <include refid="Example_Where_Clause" />
  </select>
  <delete id="delete" parameterType="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" >
    update achieve_config set  is_deleted='Y'
      <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" useGeneratedKeys="true" keyProperty="id">
    insert into achieve_config
     ( achieve_way_type,threshold_calculation_type,is_delete,create_date,modify_date )
    values
    ( #{achieveWayType},#{thresholdCalculationType},#{isDelete},#{createDate},#{modifyDate} )
  </insert>
  <select id="count" parameterType="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" resultType="java.lang.Integer" >
    select count(*) from achieve_config
      <include refid="Example_Where_Clause" />
  </select>
  <update id="update" parameterType="com.jackluan.bigflag.domain.flag.component.dataobject.AchieveConfigDo" >
    update achieve_config
    <set >
     	  <if test="achieveWayType != null"> achieve_way_type = #{achieveWayType},</if>
        <if test="thresholdCalculationType != null"> threshold_calculation_type = #{thresholdCalculationType},</if>
        <if test="isDelete != null"> is_delete = #{isDelete},</if>
        <if test="createDate != null"> create_date = #{createDate},</if>
        <if test="modifyDate != null"> modify_date = #{modifyDate},</if>
        gmt_modified = now()
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
</mapper> 
