<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.jackluan.bigflag.domain.notice.component.dao.INoticeTraceDao" >
  <resultMap id="BaseResultMap" type="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo" > 
        <result column="id" property="id" /> 
        <result column="user_id" property="userId" /> 
        <result column="notice_config_id" property="noticeConfigId" /> 
        <result column="notice_type" property="noticeType" /> 
        <result column="notice_result" property="noticeResult" /> 
        <result column="is_delete" property="isDelete" /> 
        <result column="create_date" property="createDate" /> 
        <result column="modify_date" property="modifyDate" /> 
  </resultMap> 
  <sql id="Example_Where_Clause" > 
    <where > 
		    1=1  
        <if test="id != null "> and id = #{id} </if> 
        <if test="userId != null "> and user_id = #{userId} </if> 
        <if test="noticeConfigId != null "> and notice_config_id = #{noticeConfigId} </if> 
        <if test="noticeType != null "> and notice_type = #{noticeType} </if> 
        <if test="noticeResult != null "> and notice_result = #{noticeResult} </if> 
        <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete} </if> 
        <if test="createDate != null "> and create_date = #{createDate} </if> 
        <if test="modifyDate != null "> and modify_date = #{modifyDate} </if> 
        and is_deleted='N' 
        <if test="start != null and limit != null "> limit #{start},#{limit} </if>        
    </where> 
  </sql> 
  <sql id="Base_Column_List" > 
    	id,user_id,notice_config_id,notice_type,notice_result,is_delete,create_date,modify_date 
  </sql> 
  <select id="select" resultMap="BaseResultMap" parameterType="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo" > 
    select 
    <include refid="Base_Column_List" /> 
    from notice_trace 
      <include refid="Example_Where_Clause" /> 
  </select> 
  <delete id="delete" parameterType="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo" > 
    update notice_trace set  is_delete='Y'
      <include refid="Example_Where_Clause" /> 
  </delete> 
  <insert id="insert" parameterType="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo"  useGeneratedKeys="true" keyProperty="id">
    insert into notice_trace 
     ( user_id,notice_config_id,notice_type,notice_result,is_delete,create_date,modify_date )
    values 
    ( #{userId},#{noticeConfigId},#{noticeType},#{noticeResult},'N',now(),now() )
  </insert> 
  <select id="count" parameterType="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo" resultType="java.lang.Integer" > 
    select count(*) from notice_trace 
      <include refid="Example_Where_Clause" /> 
  </select> 
  <update id="update" parameterType="com.jackluan.bigflag.domain.notice.component.dataobject.NoticeTraceDo" > 
    update notice_trace 
    <set > 
     	  <if test="userId != null"> user_id = #{userId},</if> 
        <if test="noticeConfigId != null"> notice_config_id = #{noticeConfigId},</if> 
        <if test="noticeType != null"> notice_type = #{noticeType},</if> 
        <if test="noticeResult != null"> notice_result = #{noticeResult},</if> 
        <if test="isDelete != null"> is_delete = #{isDelete},</if>
        modify_date = now()
    </set> 
       where id = #{id,jdbcType=BIGINT}  
  </update> 
</mapper> 
